.image-container {
    width: 400px!important;
    height: 300px;!important;
    overflow: hidden!important;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 150px;
}

.content {
    flex-grow: 1;
}