.sidebar {
    background-color: white;
    color: white;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 12rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 8px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    margin-left: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
}

.sidebar-link img {
    height: 24px;
    margin-right: 25px;
}

.sidebar-link div {
    font-size: 14px;

}

#sidebar-home {
    background-color: rgb(242, 242, 242);
    font-weight: 500;
}

#sidebar-home:hover {
    background-color: rgb(230, 230, 230);
}

.solid {
    border-top: 1px solid rgba(242, 242, 242, .2);
    width: 225px;
    margin-left: 10px;
}

