.image-container {
    width: 400px!important;
    height: 300px;!important;
    overflow: hidden!important;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 260px;
}

.content {
    flex-grow: 1;
}

.content-link {
    margin-right: 20px;
    text-decoration: none;
}

.favorite {
    transition: fill 0.5s; /* Add transition for a smooth fill effect */
    cursor: pointer;
}

.clicked {
    fill: red; /* Change the fill color when clicked (adjust as needed) */
}

.favorite:hover {
    fill: red; /* Change the fill color on hover (adjust as needed) */
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        flex-grow: 0;
    }
}